@import "node_modules/bulma/sass/utilities/mixins";
html,
body {
    background-color: #F5F8FA;
    //waktu open navbar mobile html body overflow hidden
}

.app-navbar-dashboard {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    .navbar {
        background-color: #fff;
        box-shadow: 0 10px 30px 0 rgba(229, 238, 242, .5);
        .navbar-brand {
            .navbar-item {
                img {
                    max-height: 2.25rem;
                }
            }
        }
        @include mobile {
            .navbar-menu {
                -webkit-overflow-scrolling: touch;
                max-height: calc(100vh - 3.25rem);
                overflow: auto;
                z-index: 1;
            }
        }
        .navbar-item {
            i {
                color: #4a4a4a;
                &:hover {
                    color: #65cb67;
                }
            }
            .navbar-link {
                color: #4a4a4a;
                figure {
                    img {
                        border-radius: 50%;
                        max-height: 2em;
                    }
                }
                &:hover {
                    color: #65cb67;
                }
                &:after {
                    border: 1px solid #4a4a4a;
                    border-top-width: 1px;
                    border-right-width: 1px;
                    border-top-style: solid;
                    border-right-style: solid;
                    border-top-color: rgb(74, 74, 74);
                    border-right-color: rgb(74, 74, 74);
                    border-right: 0;
                    border-top: 0;
                    content: " ";
                    display: block;
                    height: 0.5em;
                    pointer-events: none;
                    position: absolute;
                    transform: rotate(-45deg);
                    transform-origin: center;
                    width: 0.5em;
                    margin-top: -0.375em;
                    right: 1.125em;
                    top: 50%;
                }
                &:hover:after {
                    border: 1px solid #65cb67;
                    border-top-width: 1px;
                    border-right-width: 1px;
                    border-top-style: solid;
                    border-right-style: solid;
                    border-top-color: rgb(101, 203, 103);
                    border-right-color: rgb(101, 203, 103);
                    border-right: 0;
                    border-top: 0;
                    content: " ";
                    display: block;
                    height: 0.5em;
                    pointer-events: none;
                    position: absolute;
                    transform: rotate(-45deg);
                    transform-origin: center;
                    width: 0.5em;
                    margin-top: -0.375em;
                    right: 1.125em;
                    top: 50%;
                }
            }
            .navbar-dropdown {
                .navbar-item {
                    &:hover {
                        color: #65cb67 !important;
                    }
                }
            }
        }
    }
}

.app-main-dashboard {
    overflow: hidden;
    .column {
        .menu {
            padding-top: 80px;
            background-color: #fff;
            box-shadow: 0 10px 30px 0 rgba(229, 238, 242, .5);
            position: absolute;
            left: 0;
            .menu-list {
                li {
                    a {
                        padding-left: 10px;
                        border-left: 6px solid #fff;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        &.is-active {
                            border-left: 6px solid #65cb67;
                            color: #65cb67;
                        }
                        &:hover {
                            color: #65cb67;
                        }
                    }
                }
            }
            .menu-footer {
                padding-left: 24px;
                p {
                    a {
                        margin-right: 5px;
                    }
                    &:nth-child(1) {
                        margin-bottom: 10px;
                    }
                }
            }
            &.is-fixed {
                position: fixed;
                top: 0;
                bottom: 0;
                width: 16.66667%;
            }
        }
        .main {
            padding-top: 28px;
            background-color: #F5F8FA;
            .box {
                box-shadow: 0 10px 30px 0 rgba(229, 238, 242, .5);
                border-radius: 2px;
            }
        }
    }
}