.app-header {
  position: absolute;
  width: 100%;
  z-index: 3;
  .navbar {
    background-color: transparent;
  }
}

.app-content {
  section {
    // intro
    &.is-intro {
      background-color: $pink;
      background: linear-gradient(135deg, $pink, #e5487c);
      background-size: auto auto;
      background-size: cover;
    }
    &.is-intro-kompetisi {
      background-color: #089d95;
      // background: linear-gradient(135deg, #11998e, #38ef7d);
      background: linear-gradient(300deg, #089d95, #65cb67);
      background-size: auto auto;
      background-size: cover;
    }
    &.is-acara {
      .column {
        .box {
          .image {
            margin: 0 auto;
          }
          .subtitle {
            &:after {
              content: "";
              display: block;
              width: 40px;
              margin: 0 auto;
              margin-top: 15px;
              border-bottom: 2px solid $red;
              border-radius: 8px;
            }
          }
        }
        &:nth-child(2) {
          .box {
            .subtitle {
              &:after {
                border-bottom: 2px solid $blue;
              }
            }
          }
        }
        &:nth-child(3) {
          .box {
            .subtitle {
              &:after {
                border-bottom: 2px solid $green;
              }
            }
          }
        }
      }
    }
    &.is-timeline {
      background-color: fdeeee;
      background: linear-gradient(to bottom, #fdeeee, #fff);
      background-size: auto auto;
      background-size: cover;
    }
    &.is-photos {
      .container {
        &.is-fluid {
          margin-left: 0px !important;
          margin-bottom: 0px !important;
          width: 100%;
        }
        .columns {
          margin-bottom: 0px;
          .column {
            padding: 0;
            img {
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .clipping-top {
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    height: 50px;
    background-color: white;
    width: 100%;
    z-index: 2;
    margin-top: -50px;
    position: absolute;
  }
  .clipping-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    height: 50px;
    background-color: white;
    width: 100%;
    z-index: 2;
    position: absolute;
  }
}

.app-footer {
  background-color: $pink;
  background: linear-gradient(135deg, $pink, #e5487c);
  padding: 3rem 1rem;
  .container {
    .content {
      img {
        width: 9%;
        margin: 0 auto;
        position: relative;
      }
      p {
        a {
          padding: 0 5px;
        }
      }
    }
    .footer-bottom {
      border-top: 1px solid $white;
      padding-top: 1rem;
    }
  }
}
