.app-header {
  position: absolute;
  width: 100%;
  z-index: 3;
  .navbar {
    background-color: transparent;
    .navbar-brand {
      .navbar-item {
        img {
          max-height: 2.25rem;
        }
      }
    }
    .navbar-item {
      .navbar-link {
        &:hover:after {
          border: 1px solid #e6e6e6;
          border-right: 0;
          border-top: 0;
          content: " ";
          display: block;
          height: 0.5em;
          pointer-events: none;
          position: absolute;
          transform: rotate(-45deg);
          transform-origin: center;
          width: 0.5em;
          margin-top: -0.375em;
          right: 1.125em;
          top: 50%;
        }
      }
    }
  }
}

.app-content {
  section {
    // intro
    &.is-intro {
      background-color: $pink;
      background: url(../images/index/skew-bottom.png), linear-gradient(135deg, $pink, #e5487c);
      background-size: 100%, cover, cover;
      background-repeat: no-repeat;
      background-position: bottom;
    }
    &.is-acara {
      .column {
        .box {
          .image {
            margin: 0 auto;
          }
          .subtitle {
            &:after {
              content: "";
              display: block;
              width: 40px;
              margin: 0 auto;
              margin-top: 15px;
              border-bottom: 2px solid $red;
              border-radius: 8px;
            }
          }
        }
        &:nth-child(2) {
          .box {
            .subtitle {
              &:after {
                border-bottom: 2px solid $blue;
              }
            }
          }
        }
        &:nth-child(3) {
          .box {
            .subtitle {
              &:after {
                border-bottom: 2px solid $green;
              }
            }
          }
        }
      }
    }
    &.is-timeline {
      background-color: fdeeee;
      background: url(../images/index/skew-top.png), linear-gradient(to bottom, #fdeeee, #fff);
      background-size: 100%, cover, cover;
      background-repeat: no-repeat;
      background-position: top;
    }
    &.is-photos {
      overflow-x: hidden;
      .container {
        &.is-fluid {
          margin-left: 0px !important;
          margin-bottom: 0px !important;
          width: 100%;
        }
        .columns {
          margin-bottom: 0px;
          .column {
            padding: 0;
            img {
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

.app-footer {
  background-color: $pink;
  background: linear-gradient(135deg, $pink, #e5487c);
  padding: 3rem 1rem;
  .container {
    .content {
      img {
        width: 9%;
        margin: 0 auto;
        position: relative;
        @include mobile {
          width: 20%;
        }
      }
      p {
        a {
          padding: 0 5px;
        }
      }
    }
    .footer-bottom {
      border-top: 1px solid $white;
      padding-top: 1rem;
    }
  }
}