.app-content-kompetisi {
  section {
    // intro
    &.is-intro-kompetisi {
      background-color: #089d95;
      background: url(../images/kompetisi/wave.png), linear-gradient(300deg, #089d95, #65cb67);
      background-size: 100%, cover, cover;
      background-repeat: no-repeat;
      background-position: bottom;
      .img-kompetisi {
        width: 550px;
        // margin-left: 60px;
      }
    }
    &.is-acara {
      .columns {
        padding: 0 60px;
        .column {
          .box {
            cursor: pointer;

            .image {
              margin: 0 auto;
            }
            .subtitle {
              &::before {
                content: "";
                display: block;
                width: 40px;
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 10px;
                border-bottom: 2px solid $red;
                border-radius: 8px;
              }
            }
          }
          &:nth-child(2) {
            .box {
              .subtitle {
                &::before {
                  border-bottom: 2px solid $blue;
                }
              }
            }
          }
          &:nth-child(3) {
            .box {
              .subtitle {
                &::before {
                  border-bottom: 2px solid $orange;
                }
              }
            }
          }
        }
      }
    }
    &.is-timeline-kompetisi {
      background-color: #cdefde;
      background: linear-gradient(to bottom, #cdefde, #fff);
      background-size: auto auto;
      background-size: cover;
    }
    &.is-photos {
      .container {
        &.is-fluid {
          margin-left: 0px !important;
          margin-bottom: 0px !important;
          width: 100%;
        }
        .columns {
          margin-bottom: 0px;

          .column {
            padding: 0;
            img {
              object-fit: cover;
              filter: gray;
              -webkit-filter: grayscale(1);
              transition: all 1s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              &:hover {
                filter: none;
                -webkit-filter: grayscale(0);
              }
            }
          }
        }
      }
    }
  }
}

.app-footer-kompetisi {
  background-color: #089d95;
  background: linear-gradient(300deg, #089d95, #65cb67);

  padding: 3rem 1rem;
  .container {
    .content {
      img {
        width: 9%;
        margin: 0 auto;
        position: relative;
      }
      p {
        a {
          padding: 0 5px;
        }
      }
    }
    .footer-bottom {
      border-top: 1px solid $white;
      padding-top: 1rem;
    }
  }
}
