@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

.app-header {
  position: absolute;
  width: 100%;
  z-index: 3;
  .navbar {
    background-color: transparent;
  }
}

.app-content {

}

.app-footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 6rem;
}